@page "{restaurantId:int}"
@*
    Notes -
        Above mentioned notation  "{restaurantId:int}" coverts the query string format to /id format

        without above mentioned tag, url will be - https://localhost:44368/Restaurants/Detail?restaurantId=1
        with above tag, url will be - https://localhost:44368/Restaurants/Detail/1

        There is no other change, just parameter name should match everywhere like from url and method.

        We can make this parameter as optional by just passing ? in last --- > "{restaurantId:int?}"
        Use case is - edit and create can have same page.

*@

@model CoreDemo.Pages.Restaurants.DetailModel
@{
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}


<div>@Model.restaurant.Name</div>

<div>
    <div>Id: @Model.restaurant.Id</div>
    <div>Location : @Model.restaurant.Location</div>
    <div>Cusine Type : @Model.restaurant.Cusine</div>
</div>
<div>
    <a asp-page="./List" class="btn btn-primary">All Restaurants</a>
</div>